.header{
    display: flex;
    justify-content: space-between;

    .headerleft{
        display: flex;
        justify-content: space-between;
        width: 250px;
        .headerLogo img{
        
        }
    }

}